<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>

	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />


	<div class="container">
		<h2>Administrador</h2>
		<p th:text="#{user.list}">Listado usuarios</p>
		<div class="table-responsive">
			<table class="table table-hover" th:fragment="tableUsers"
				id="tableUsers">
				<thead>
					<tr>
						<th class="col-md-4" th:text="#{user.name}">Nombre</th>
						<th th:text="#{user.email}">Email</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${usersList}">
						<td class="text-left" th:text="${user.name}">Cris</td>
						<td class="text-left" th:text="${user.email}">cris@x.es</td>
						<td> 
						 <div> 
		   			
		   			<button type="button" th:id="${'deleteButton' + user.id}" 
		   					class="btn btn-info" th:text="#{user.delete}">Eliminar usuario</button>
					<script th:inline="javascript">
					  /*<![CDATA[*/
					  $( "#deleteButton[[${user.id}]]" ).click(function() {
						  $.get( "/admin/edit/[[${user.id}]]/delete", function( data ) {
							  var urlUpdate = '/admin/edit/update';
							  $("#tableUsers").load(urlUpdate);
						  });
					  });
					  /*]]>*/
					</script>  
		   		</div>
		   		
						 </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>


	<footer th:replace="fragments/footer" />

</body>
</html>
