<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>

	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />

	<div class="container">
		<h2 th:text="#{details.header}"></h2>
		<div class="panel panel-default">
			<div class="panel-heading">DNI</div>
			<div class="panel-body" th:text="${mark.user.dni}">28276</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" th:text="#{description}"></div>
			<div class="panel-body" th:text="${mark.description}">
				UO11111@uniovi.es</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" th:text="#{mark}"></div>
			<div class="panel-body" th:text="${mark.score}">100</div>
		</div>
	</div>

	<footer th:replace="fragments/footer" />

</body>
</html>
